/* @theme git */
/* references https://marpit.marp.app/theme-css */

@import "default";

:root {
  font-size: 25px;
  color: #505050;
  padding: 1rem;
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","Osaka" !important;
  background-color: #F0F0E8;
  background-image: url(https://git-scm.com/images/logos/downloads/Git-Logo-2Color.png);
  background-repeat: no-repeat;
  background-position: right 1em top 1em;
  background-size: 10%;
  line-height: 1;
}

h1 {
  font-size: 3em;
  color: #F34F29;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  color: #2788A6
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

pre {
  font-size: 20px;
  color: #FCFCFA;
  background-color: #364649;
}

a {
  color: #2788A6
}

b, strong {
  color: #F34F29;
}

header,
footer {
  font-size: 24px;
  color: #F34F29;
}
